h3 {
    text-align: center;
    margin-top: 40px;
}

.upload {
    width: 1000px;
    margin: 40px auto 0 auto;
}

.upload_input {
    height: 60px;
    margin-top: 200px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #00000040;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload_inner {
    width: 900px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.upload_window {
    width: 750px;
    height: 21px;
    border: none;
    font-size: 16px;
    outline: none;
}

.upload_button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #AC70F6;
    color: white;
    font-size: 16px;
    margin-left: 40px;
    cursor: pointer;
}

.second_color {
    color: #6E3BAE;
    font-weight: 700;
}