@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
    color: #141414;
}

header {
    display: flex;
    width: 1200px;
    margin: 40px auto 0 auto;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.logo {
    color: #BABABA;
    font-size: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    height: 48px;
    padding-right: 5px;
}

.difficulty {
    font-size: 24px;
    display: flex;
    align-items: center;
}

.level_change {
    display: none;
}

.level_easy, .level_medium, .level_hard {
    padding: 5px 15px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}

.level_easy {
    background-color: #E6F2DD;
    color: #707B68;
}

.level_medium {
    background-color: #F2F0DD;
    color: #7C7B70;
}

.level_hard {
    background-color: #F2E5DD;
    color: #79726D;
}

.user {
    text-align: center;
    font-size: 24px;
}

.user span {
    font-weight: 700;
    color: #6E3BAE;
}

.user a {
    color: #BBBBBB;
    font-size: 16px;
    text-decoration: none;
}

.vulnerabilities {
    width: 1000px;
    margin: 40px auto 0 auto;
}

.vulnerabilities h1 {
    color: #333333;
    font-size: 32px;
    padding-bottom: 40px;
}

.vulnerabilities_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vulnerabilities_row:nth-child(odd) {
    margin: 40px 0;
}

.vulnerabilities_item {
    background-color: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0 6px 20px 0 #00000040;
    color: #AEAEAE;
    font-size: 32px;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}